{% extends "header.html" %}
{% load socialaccount %}
{% block title %}
Allauth Test
{% endblock %}
{% block content %}
<h2>Allauth Test</h2>
{% if user.is_authenticated %}
  <p>Hello, {{ user.username }}!</p>
  <a href="{% url 'account_logout' %}">登出</a><br>
{% else %}
  <p>You are not logged in</p>
  <ul>
    <li><a href="{% url 'account_login' %}">帳號登入</a></li>
    <li><a href="{% provider_login_url 'google' %}">Google登入</a></li>
    <li><a href="/register/">註冊新帳號</a></li>
  </ul>
{% endif %}
{% endblock %}